<ion-view title="Tapahtumat" style="text-align: center">
        <div class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
            <div class="tabs">
                <a class="tab-item" ui-sref="addevent">
                 <i class="icon ion-compose"></i>
               </a>
                <a class="tab-item active" ui-sref="events">
                 <i class="icon ion-clipboard"></i>
               </a>
            </div>
        </div>
        <ion-content style="text-align: left" on-swipe-left="stateChange('addevent')">
            <div class="list card has-header">
            <div class="item item-divider" ng-show="!events.length">Ei tapahtumia</div>
            <div class="item item-divider" ng-show="ongoingEvents.length">Meneillään olevat tapahtumat</div>
                <div ng-repeat="event in ongoingEvents">
                    <a class="item item-avatar item-icon-right" ng-click="infoModal(event)">
                        <img src="assets/resul.png">

                        <h2><b>{{event.name}}</b></h2>
                            <p>{{event.formatted_date}}</p>
                            <p>{{event.address}}, {{event.postal_code}}</p>

                        <i class="icon ion-android-star balanced" ng-show="isOwnEvent(event)"></i>
                        <i class="icon ion-checkmark balanced" ng-show="userAttendedEvent(event)"></i>
                    </a>

                    <div class="item item-divider item-light item-icon-right" ui-sref="validate" ng-show="isOwnEvent(event)" ng-click="initValidateView(event)">
                        Validoi tuloksia
                        <i class="icon ion-forward"></i>
                    </div>
                </div>

            <div class="item item-divider" ng-show="upcomingEvents.length">Tulevat tapahtumat</div>

                <a class="item item-avatar item-icon-right" ng-click="infoModal(event)" ng-repeat="event in upcomingEvents">
                  <img src="assets/resul.png">
                  <h2><b>{{event.name}}</b></h2>
                  <p>{{event.formatted_date}}</p>
                  <p>{{event.address}}, {{event.postal_code}}</p>
                  <i class="icon ion-android-star balanced"  ng-show="isOwnEvent(event)"></i>
                  <i class="icon ion-checkmark balanced" ng-show="userAttendedEvent(event)"></i>
                </a>

            <div class="item item-divider" ng-show="pastEvents.length">Menneet tapahtumat</div>
            <div ng-repeat="event in pastEvents">
                <a class="item item-avatar item-icon-right" ng-click="infoModal(event)">
                  <img src="assets/resul.png">
                  <h2><b>{{event.name}}</b></h2>
                  <p>{{event.formatted_date}}</p>
                  <p>{{event.address}}, {{event.postal_code}}</p>
                  <i class="icon ion-android-star balanced"  ng-show="isOwnEvent(event)"></i>
                  <i class="icon ion-checkmark balanced" ng-show="userAttendedEvent(event)"></i>
                </a>
                <div class="item item-divider item-light item-icon-right" ui-sref="validate" ng-show="isOwnEvent(event)" ng-click="initValidateView(event)">
                        Validoi tuloksia
                        <i class="icon ion-forward"></i>
                </div>
            </div>
        </ion-content>
    </ion-view>
