<ion-view title="Profiili">

    <div class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
    <div class="tabs">
      <a class="tab-item active">
        <i class="icon ion-home"></i>
      </a>
      <a class="tab-item" ui-sref="profilerecords">
        <i class="icon ion-star"></i>
      </a>
      <a class="tab-item" ui-sref="profilestatistics">
        <i class="icon ion-ios-pie"></i>
      </a>
    </div>
  </div>
 <ion-content class="has-subheader">

	<div class="list card" ng-if="showNotifications">
		<ion-item class="item-icon-left" ng-if="!notifications.length" on-swipe-right="hideNotifications()">Ei ilmoituksia <i class="icon ion-chevron-right"></i></ion-item>

    <a ng-if="notifications.length" class="item item-icon-left" on-swipe-left="previousNotification()" on-swipe-right="nextNotification()" ng-click="infoModal(notifications[ui.notificationIndex])">
      <h2><b>{{notifications[ui.notificationIndex].name}}</b></h2>
      <p>{{notifications[ui.notificationIndex].formatted_date}}</p>
      <p>{{notifications[ui.notificationIndex].address}}, {{notifications[ui.notificationIndex].postal_code}}</p>
      <i class="icon ion-chevron-right"></i>
      <span class="badge badge-balanced" ng-if="notifications.length-1 > 0">+{{notifications.length-1}}</span>
    </a>
	</div>

	<div class="list card">
        <div class="item item-divider item-positive padding" ng-if="openQuestion" ng-click="startAskingQuestions()">Auta reserviä painamalla tästä!</div>
        <div class="item item-avatar item-button-right">
                <img ng-src="{{socialProfile.picture}}">
                <h2 class="text_profile">{{user.firstName}} {{user.lastName}}</h2>
                <p>{{user.age}}, {{user.city}}</p>
        </div>
        <!-- user doesn't have activities'-->
        <div class="item item-body" ng-if="!user.activities.length">
            <h3>Sinulla ei ole suorituksia.</h3>
        </div>
        <!-- activities -->
        <div class="item item-divider">
                Suoritukset <span id="activitytitle" ng-if="user.activities.length">{{user.activities.length}} kpl</span>
        </div>
        <a class="item item-icon-left" ui-sref="activitieslist">
                <i class="icon ion-plus-circled"></i>
                Lisää suoritus
        </a>

        <a class="item item-avatar" ng-repeat="record in user.activities | limitTo: ui.activityLimitSize">

            <img src="assets/run.png" ng-if="record.type_id==1">
            <img src="assets/pushup.png" ng-if="record.type_id==2">
            <img src="assets/situp.jpg" ng-if="record.type_id==3">
            <img src="assets/long_jump1600.png" ng-if="record.type_id==4">
            <img src="assets/pullup.png" ng-if="record.type_id==5">
            <img src="assets/resul.png" ng-if="record.type_id==17">

            <h2>{{record.recordTypeText}}</h2>

            <p ng-if="record.type_id==1">{{record.payload.distance}}m<b class="balanced"></b></p>
            <p ng-if="record.type_id==2">{{record.payload.pushups}}kpl <b class="balanced"></b></p>
            <p ng-if="record.type_id==3">{{record.payload.situps}}kpl <b class="balanced"></b></p>
            <p ng-if="record.type_id==4">{{record.payload.standingjump}}cm <b class="balanced"></b></p>
            <p ng-if="record.type_id==5">{{record.payload.pullups}}kpl <b class="balanced"></b></p>
            <p ng-if="record.type_id==17">{{record.payload.shots}}kpl <b class="balanced"></b></p>
            <span class="badge badge-stable">{{record.formattedDate}}</span>

            </a>
            <div class="button button-full button-stable" ng-if="user.activities.length > ui.activityLimitSize" ng-click="changeLimit('more')"><b>Lisää tuloksia..</b></div>
            <div class="button button-full button-stable" ng-if="ui.activityLimitSize > 5" ng-click="changeLimit()"><b>Vähemmän..</b></div>
	</div>
</ion-content>
</ion-view>
