<ion-view title="Statistiikka">
   
      <div class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
      <div class="tabs">
      <a class="tab-item"  ui-sref="profile">
        <i class="icon ion-home"></i>
      </a>
      <a class="tab-item" ui-sref="profilerecords">
        <i class="icon ion-star"></i>
      </a>
      <a class="tab-item active">
        <i class="icon ion-ios-pie"></i>
      </a>
    </div>
  </div>
<ion-content class="has-subheader">
	<div class="list">
		<div class="item item-body" ng-if="user.activities.length>0"> 
			<!-- cooper -->
			<div class="row" style="padding: 0px" ng-if="UserDoneCooper">
				<div class="col col-66">
					<h2>Yleiskunto: <b>{{cooperQuantile}}%</b></h2>    
					<p>Yleiskuntosi on parempi kuin {{cooperQuantile}}% väestöstä.</p>              
				</div>
				<div class="col col-33">
					<canvas width="175" id="pie" class="chart chart-pie"
					chart-data="cooperChartData" chart-labels="labelsForCharts" chart-options="options">
					</canvas> 
				</div>
			</div>
			<!-- user not done cooper -->
			<div class="row" style="padding: 0px" ng-if="!UserDoneCooper">
				<div class="col">
					<h3>Nähdäksesi yleiskuntosi tee Cooper-testi!</h3>
				</div>
			</div>
			<!-- pushups -->
			<div class="row" style="padding: 0px" ng-if="UserDonePushups">
				<div class="col col-66">
					<h2>Lihaskunto: <b>{{pushupQuantile}}%</b></h2>
					<p>Lihaskuntosi on parempi kuin {{pushupQuantile}}% väestöstä.</p>     
				</div>
				<div class="col col-33">
					<canvas width="175" id="pie" class="chart chart-pie" chart-data="pushupChartData" chart-labels="labelsForCharts" chart-options="options">
					</canvas> 
				</div>
			</div>
			<!-- user not done pushups -->
			<div class="row" style="padding: 0px" ng-if="!UserDonePushups">
				<div class="col">
					<h3>Nähdäksesi lihaskuntosi tee 60 sekunnin punnerrustesti!</h3>
				</div>
			</div>                    
		</div>

		<!-- user doesn't have activities'-->
		<div class="item item-body" ng-if="!user.activities.length">
			<h3>Sinulla ei ole suorituksia, nähdäksesi kuntotasosi lisää suoritus!</h3>
		</div>
	</div>
</ion-content>
</ion-view>