<ion-view title="Lisää suoritus">
    <ion-content class="kko-container has-header">
        <section>
            <div class="list">
            <div class="item item-divider">
                {{test.name}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-information"></i>
                {{test.description}}
            </div>
            <label class="item item-input">
                <span class="input-label"><b>{{test.measurement}}: </b></span>
                <input type="tel" ng-model="record.value" autofocus>
            </label>
            </div>
            <button class="button button-full button-positive" ng-disabled="!record.value" ng-click="addRecord(user.id, test.typeId, record.value)">
                Syötä tulos
            </button>
        </section>
    </ion-content>
</ion-view>