<ion-view title="{{uistatus.header}}">
    <ion-content class="kko-container has-header">
        <section>
        <div class="list">
            <div ng-repeat="item in tests" ng-show="!uistatus.inEvent">
                <button class="button button-large button-full button-dark" ng-click="setTest(item)">
                {{item.name}}
                </button>
            </div>
            <div ng-repeat="event in events" ng-show="uistatus.inEvent">
                <button class="button button-large button-full button-dark" ng-click="setEvent(event)">{{event.name}}</button>
            </div>
            <br>
            <button class="button button-large button-full button-positive" ng-click="uistatus.inEvent = !uistatus.inEvent">
                <span ng-if="uistatus.inEvent">Takaisin</span>
                <span ng-if="!uistatus.inEvent">Valitse tapahtuma</span>
            </button>
            <button class="button button-large button-full button-positive" ng-if="uistatus.event&&!uistatus.inEvent" ng-click="removeEvent()">Oma suorite</button>
        </div>
             
        </section>
    </ion-content>
</ion-view>