<ion-view title="Rekisteröinti">
    <ion-content class="container_kko">
        <section>
            <!-- Register new user -->
            <div class="list" id="reg-form">

                <div class="item item-divider">
                    Hei {{user.firstName}}, täytä vielä seuraavat tiedot:
                </div>
                <div class="item item-input">
                    <span class="input-label">Etunimi</span>
                    <input type="text" ng-model="user.firstName">
                </div>
                <div class="item item-input">
                    <span class="input-label">Sukunimi</span>
                    <input type="text" ng-model="user.lastName">
                </div>
                <div class="item item-input">
                    <span class="input-label">Sukupuoli</span>
                    <button class="button button-positive" ng-click="setGender(1)" ng-class="user.gender == 'male' ? 'button-dark' : 'button-stable'">Mies</button>
                    &nbsp;
                    <button class="button button-positive" ng-click="setGender(2)" ng-class="user.gender == 'female' ? 'button-dark' : 'button-stable'">Nainen</button>
                </div>
                <label class="item item-input" ng-show="!ui.cityChosen">
                    <span class="input-label">Kaupunki</span>
                    <input type="text" placeholder="Etsi" ng-change="searchCities(searchFilter)" ng-model="searchFilter">
                </label>
                <div class="item" ng-if="searchFilter" ng-show="!ui.cityChosen">
                    <div class="button button-dark" style="margin-right: 5px;" ng-repeat="city in data.cities | limitTo: 3" ng-click="setUserCity(city)">{{city}}</div>
                </div>
                <div class="item item-input item-icon-right" ng-show="ui.cityChosen">
                    <span class="input-label">Kaupunki</span>
                    <input type="text" ng-model="user.city" ng-disabled="true" style="background: #FFFFFF;">
                    <i class="icon ion-ios-close" style="z-index: 9999" ng-click="setUserCity()"></i>
                </div>
                <label class="item item-input item-icon-right" ng-click="openDatePicker()">
                    <span class="input-label">Syntymäpäivä</span>
                    <input type="text" ng-disabled="true" ng-model="user.birthDate" style="background: #FFFFFF;"></span>
                    <i class="icon ion-android-add"></i>
                </label>
                <button class="button button-full button-dark" ng-disabled="isSubmitDisabled(user)" ng-click="createUserInfo(user)">
                Tallenna
                </button>
            </div>
        </section>
    </ion-content>
</ion-view>
